body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:558px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:296px;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:296px;
  display:flex;
}
#u5114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:299px;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:558px;
  height:299px;
  display:flex;
}
#u5115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
